/ Modal

/
  Should NEVER be used without role=button and it shouldn't be used ever unless you're going to dynamically add something to Href later or if it's going to link to the content explicitly if JS doesn't work
  %a{ href: '#', data: { "reveal-id" => "#myModal" }, role: "button", "tab-index" => 0 } Click Me For A Model
%button{ data: { "reveal-id" => "#myModal" } } Click Me For A Model

#myModal.reveal-modal{ data: { reveal: true }, role: "alertdialog", aria: { describedby: "reveal-message", busy: false }, tabindex: 0 }
  %div
    / I need to do homework on whthewr or not, if I have more than one block of text read, I can add reveal-message around a block of content instead of within a single element
    %div
      %h1#reveal-message Awesome. I have it.
      %p Adipisicing expedita minima labore reiciendis natus ex? Sunt atque non blanditiis beatae asperiores vero eligendi ratione aut? Commodi iure rerum porro quos ullam mollitia, similique! Qui provident blanditiis officia ut.

:coffee
  close.on 'keydown', (e)->
    if ( e.keyCode || e.which ) == 9
      dialog.focus()
      e.preventDefault()
  # on escape, the dialog can be closed
  $(dialog).on 'keypress.escape', (e)->
    if e.keycode == 27
      closeDialog()

/ Icon Bar w/ Text - Tab Usage
%nav.icon-bar.five-up{ role: 'navigation' }
  %button{ aria: { labeledby: "#itemlabel1" } }
    %img{ src: "placehold.it&text=Home" }
    %span#itemlabel1 Home

/ Icon Bar w/o Text - Tab Usage
%nav.icon-bar.five-up{ role: 'navigation' }
  %button{ aria: { label: 'home' } }
    %img{ src: "placehold.it&text=Home" }

/ Icon Bar w/ Text - Regular  Usage
%nav.icon-bar.five-up{ role: 'navigation'  }
  %a{ href: "foo.html", aria: { labeledby: "#itemlabel1", label: 'home', role: "button" }, "tab-index" => 0 }
    %img{ src: "placehold.it&text=Home" }
    %span#itemlabel1 Home

/ Icon Bar w/o Text - Regular  Usage
%nav.icon-bar.five-up{ role: 'navigation' }
  %a{ role: "button", href: "foo.html", aria: { labeledby: "#itemlabel1", label: 'home' }, "tab-index" => 0 }
    %img{ src: "placehold.it&text=Home" }

/ Top Bar
%nav.top-bar{ data: { topbar: true }, role: "navigation" }
  // role = presentationl + aria-hidden: true seem redundant.
  %ul.title-area{ role:"presentational" }
    %li{ role: "presentational" }
      %img{ src: "company_logo.webp", aria: { hidden: "true" } }
  %section.top-bar-section
    %ul.right
      %li.active{ role:"menuitem" }
        %button Right Button Active
      %li.has-dropdown{ aria: { haspopup: true, expanded: true, controls: "#submenu1" } }
        %button{ aria: { haspopup: true } } Button Item
        %ul#submenu1{ aria: { hidden: true }, role:"group" }
          %li{ role: "menuitem" }
            %a{ href: "foo.html" } Dragon

/ Interchange
%div{ aria: { busy: false, atomic: false, live: "assertive" }, role: "alert"}

/ Offcanvas
.off-canvas-wrap{ data: { offcanvas: true } }

  /
    May be replaced with <main> if  this is being done directly after body and the content within .inner-wrap is the primary content of the page.
  %main.inner-wrap
    %button.left-off-canvas-toggle" Menu

    /
      If you use an element other than nav, please use aria: { role: "navigation" }
    %nav.left-off-canvas-menu{ role: "navigation", aria: { expanded: "true", haspopup: "true" } }
      %ul{ role: "menu" }
        %li{ role: "menuitem" } Item 1
        / ...
    %button.exit-off-canvas &times;
/ Clearing
%ul.clearing-thumbs.small-block-grid-4{ role: "alert", data: { clearing: true }, aria: { live: "assertive",  atomic: "false" } }
  %li
    %a{ href: "pathToImage.webp", role:"button", aria: { label: "????", haspopup: "true"  } }
      /
        Caption should be removed and replaced with merely accessing alt/title and/or aria-label
      %img{ src: "pathToImage.webp", data: { caption: "caption1" }, aria: { hidden: "true", label: "caption1"} }

/
  Clearing's generated modal box - It should be changed into a dialog element
%dialog.clearing-assembled.clearing-blackout
  .clearing-container
    /
      I'm personally confused why there's a style attribute here....
    %figure.visible-img{ style: "display: block;" }
      %img{ src: "legacy_images.png" }
      %figcaption Caption of Image here
      %button.clearing-main-prev{ aria: { label: "Previous Image" } } Prev
      %button.clearing-main-next{ aria: { label: "Next Image" } } Next
    /
      *Never* use 'x' instead of &times for a close button
    %button.clearing-close{ aria: { label: "Close this widget." } } &times;

%ul{ role: "tablist" }
  %li.tab-title{ role: "presentation", aria: { selected: "true", controls: "panel1"  } }
    %a{ href: '#panel1', role: "tab", "tab-index" => 0 } Tab 1
.tabs-content{ role: "presentational" }
  %section#panel1{ role: "tabpanel", aria: { hidden: "false" } }
